{{ partial "header.html" . }}

<div class="row">
  <div class="col s10 offset-s1 solarized-dark-text rounded-borders">
    <h5 class="center-align">Post Types:</h5>
    <div class="postTypeBtnList center-align">
      {{ range .Site.Pages.GroupBy "Section" }}
        {{ if ne .Key "" }}
          <a href="/{{ .Key }}/" class="btn">{{ .Key }}</a>
        {{ end }} 
      {{ end }}
    </div>
  </div>
</div>

<div class="row">
  <div class="col s10 offset-s1 solarized-dark-text rounded-borders">
    <h5 class="center-align">Recent Posts:</h5>
    <ul>
      {{ range first 10 .Site.Pages }}
        {{ if ne .Type "page" }}
          <li>{{ .Date.Format "Monday, July 7, 2006" }} : <a href="{{ .Permalink }}">{{ .Title }}</a></li>
        {{ end }}
      {{ end }}
    </ul>
  </div>
</div>

{{ partial "footer.html" . }}
