html {
  font-family: Hack, monospace;
}
.bannerHeader {
  background-color: #3f3f3f;
  color: #dcdccc;
  padding: 0;
  margin: 0;
  height: 200px;
}

.banner-line-number {
  background-color: #262626;
  color: #9fafaf;
}

.zenburn-text {
  background-color: #3f3f3f;
  color: #dcdccc;
}

.solarized-dark-text {
  background-color: #002b36;
  color: #93a1a1;
}

.bannerHeader > h4 {
  margin: 0;
}

nav .brand-logo {
  padding-left: 1%;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.rounded-borders {
  border-radius: 5px;
}

.green-primary {
  background-color: #507F62;
  color: #507F62;
}

.green-primary-dark {
  background-color: #1F5433;
  color: #1F5433;
}

.green-primary-light {
  background-color: #719880;
  color: #719880;
}

.blue-secondary {
  background-color: #47636E;
  color: #47636E;
}

.blue-secondary-dark {
  background-color: #1D3C48;
  color: #47636E;
}

.blue-secondary-light {
  background-color: #637B84;
  color: #637B84;
}

.green-compliment {
  background-color: #86A065;
  color: #86A065;
}

.green-compliment-dark {
  background-color: #4D6927;
  color: #4D6927;
}

.green-compliment-light {
  background-color: #AAC08E;
  color: #AAC08E;
}

@keyframes cursor {
  from,to { background-color: transparent;}
  50% {background-color: #dcdccc;;}
}

@-webkit-keyframes cursor {
  from,to { background-color: transparent;}
  50% {background-color: #dcdccc;}
}

.cursor {
  -webkit-animation-name: cursor;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: steps(1);
  -webkit-animation-iteration-count: infinite;
  animation-name: cursor;
  animation-timing-function: steps(1);
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
