{{ partial "header.html" . }}
  <section class="container" id="list">
      {{ $paginator := .Paginate (.Data.Pages.ByDate.Reverse) 10 }}
      {{ range $paginator.Pages }}
        <div class="card hoverable solarized-dark-text rounded-borders">
          <div class="card-content center-align">
            <span class="card-title"><a href="{{ .RelPermalink }}">{{ .Title }}</a></span>
            <div class="left-align">
              {{ .Description | markdownify }}
            </div>
          </div>
        </div>
      {{ end }}

      <div class="row">
        <ul class="pagination">
          {{ if $paginator.HasPrev }}
            <li><a href="{{ $paginator.Prev.URL }}"><i class="material-icons">chevron_left</i></a></li> 
          {{ else }}
            <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li> 
          {{ end }}

          {{ range $paginator.Pagers }}
            {{ if eq $paginator.PageNumber .PageNumber }}
              <li class="active"><a href="{{ .URL }}">{{ .PageNumber }}</a></li>
            {{ else }}
              <li><a class="blue-secondary-dark" href="{{ .URL }}">{{ .PageNumber }}</a></li>
            {{ end }}
          {{ end }}

          {{ if $paginator.HasNext }}
            <li><a href="{{ $paginator.Next.URL }}"><i class="material-icons">chevron_right</i></a></li>
          {{ else }}
            <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
          {{ end }}
        </ul>
      </div>
  </section>
{{ partial "footer.html" . }}
