<div>
  <img class="bannerImage responsive-img" src="/images/bannerImage.jpg"></img>
  <nav>
    <div class="nav-wrapper grey-text text-lighten-4 teal darken-3">
      <a href="#" class="brand-logo left-pad-1">Joel the Code Monkey</a>
      <ul class="right">
        <li><a href="/" title="Homepage"><i class="material-icons">home</i></a></li>
        <li><a href="https://github.com/jdollar" title="Github"><i class="material-icons fa fa-github fa-1x"></i></a></li>
        <li><a href="https://docs.google.com/document/d/10bNRI4bpsoUaDI9fYcugBx-AH53POb1Ow8LPn--CgSw/pub" title="resume"><i class="material-icons fa fa-file-text-o fa-1x"></i></a></li>
        <li><a href="/about" title="About"><i class="material-icons">info_outline</i></a></li>
      </ul>
    </div>
  </nav>
</div>
