<div>
  <div class="bannerHeader valign-wrapper">
    <div class="center-block">
      <h4 class="valign">Make Something<span class="cursor">&nbsp;</span></h4>
    </div>
  </div>
  <!--<img class="bannerImage responsive-img" src="/images/bannerImage.jpg"></img>-->
  <nav>
    <div class="nav-wrapper grey-text text-lighten-4 green-primary-dark">
      <a href="#" class="brand-logo left-pad-1">Joel the Code Monkey</a>

      <ul id="dropdownOptions" class="dropdown-content">
        <li><a href="/">Home</a></li>
        <li class="divider"></li>
        <li><a href="https://github.com/jdollar">Github</a></li>
        <li class="divider"></li>
        <li><a href="https://docs.google.com/document/d/10bNRI4bpsoUaDI9fYcugBx-AH53POb1Ow8LPn--CgSw/pub">Resume</a></li>
        <li class="divider"></li>
        <li><a href="/about">About</a></li>
      </ul>

      <ul class="right">
        <li class="hide-on-med-and-down"><a href="/" title="Homepage"><i class="material-icons">home</i></a></li>
        <li class="hide-on-med-and-down"><a href="https://github.com/jdollar" title="Github"><i class="material-icons fa fa-github fa-1x"></i></a></li>
        <li class="hide-on-med-and-down"><a href="https://docs.google.com/document/d/10bNRI4bpsoUaDI9fYcugBx-AH53POb1Ow8LPn--CgSw/pub" title="resume"><i class="material-icons fa fa-file-text-o fa-1x"></i></a></li>
        <li class="hide-on-med-and-down"><a href="/about" title="About"><i class="material-icons">info_outline</i></a></li>
        <li class="hide-on-large-only"><a class="dropdown-button" href="#!" data-activates="dropdownOptions"><i class="material-icons">list</i></a></li>
      </ul>
    </div>
  </nav>
</div>
