<div>
  <div class="bannerHeader valign-wrapper">
    <div class="center-block">
      <h4 class="valign">Make Something<span class="cursor">&nbsp;</span></h4>
    </div>
  </div>
  <ul id="dropdownOptions" class="dropdown-content">
    <li><a href="{{ .Site.BaseURL }}">Home</a></li>
    <li class="divider"></li>
    <li><a href="https://github.com/jdollar">Github</a></li>
    <li class="divider"></li>
    <li><a href="https://docs.google.com/document/d/10bNRI4bpsoUaDI9fYcugBx-AH53POb1Ow8LPn--CgSw/pub">Resume</a></li>
    <li class="divider"></li>
    {{ partial "blogList.html" }}
    <li class="divider"></li>
    <li><a href="{{ .Site.BaseURL }}about">About</a></li>
  </ul>

  <ul id="dropdownSections" class="dropdown-content">
    {{ partial "blogList.html" }}
  </ul>
  <nav>
    <div class="nav-wrapper grey-text text-lighten-4 green-primary-dark">
      <a href="{{ .Site.BaseURL }}" class="brand-logo left-pad-1">Joel the Code Monkey</a>
      <ul class="right">
        <li class="hide-on-med-and-down tooltipped" data-position="left" data-delay="50" data-tooltip="Homepage"><a href="{{ .Site.BaseURL }}"><i class="material-icons">home</i></a></li>
        <li class="hide-on-med-and-down tooltipped" data-position="left" data-delay="50" data-tooltip="Github"><a href="https://github.com/jdollar"><i class="material-icons fa fa-github fa-1x"></i></a></li>
        <li class="hide-on-med-and-down tooltipped" data-position="left" data-delay="50" data-tooltip="Resume"><a href="https://docs.google.com/document/d/10bNRI4bpsoUaDI9fYcugBx-AH53POb1Ow8LPn--CgSw/pub"><i class="material-icons ">description</i></a></li>
        <li class="hide-on-med-and-down tooltipped" data-position="left" data-delay="50" data-tooltip="Blogs"><a class="dropdown-button" href="#!" data-beloworigin="true" data-activates="dropdownSections"><i class="material-icons">library_books</i></a></li>
        <li class="hide-on-med-and-down tooltipped" data-position="left" data-delay="50" data-tooltip="About"><a href="{{ .Site.BaseURL }}about"><i class="material-icons">info_outline</i></a></li>
        <li class="hide-on-large-only"><a class="dropdown-button" href="#!" data-beloworigin="true" data-activates="dropdownOptions"><i class="material-icons">list</i></a></li>
      </ul>
    </div>
  </nav>
</div>
