<!DOCTYPE html>
<html lang="en" class="blue-secondary-dark">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="//cdn.jsdelivr.net/font-hack/2.020/css/hack-extended.min.css">
    <link rel="stylesheet" href="/css/codemonkey.css">
  </head>

  <body>
    {{ partial "banner.html" . }}
    <div class="bodyWrapper">
